CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
oaml.log
oamlInternal.defs
/AudioPluginOAML*
/libAudioPluginOAML*
/liboaml*
/build/
/build*/AudioPluginOAML*
/build*/include
/build*/libAudioPluginOAML*
/build*/liboaml*
install_manifest.txt

vs/*.userprefs
vs/*.csproj
vs/*.pidb
vs/*.suo
vs/*.sln*
vs/*.user
vs/*.unityproj
vs/*.booproj
vs/*.sdf
vs/*.opensdf
vs/ipch
vs/Debug
vs/Release
