Source: msnake
Section: games
Priority: extra
Maintainer: Mogria <m0gr14@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, libncurses5-dev
Standards-Version: 3.9.3

Package: msnake
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ncurses-bin
Description: A simple snake game written in C using the ncurses library.

